* {
  padding: 0;
  margin: 0;
}

.f-x-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-y-center {
  display: flex;
  align-items: center;
}

.f-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 8px;
}

.sidebar {
  flex-shrink: 0;
  width: 200px;
  padding: 12px;
  background-color: #e0e0e0;

  div {
    padding: 12px 24px;
    border-radius: 12px;
    margin-bottom: 12px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #bbb;
    }
  }
}

.container {
  display: flex;
  flex: 1;
  padding: 16px;
  overflow: hidden;
}

.title {
  font-size: 48px;
}

.tips {
  font-size: 14px;
  color: #666;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input {
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
}

.icon-wrapper {
  margin-bottom: 4px;
  transition: background-color 0.2s ease;
}

.icon-wrapper:hover {
  background-color: #e0e0e0 !important;
}

.icon-name {
  padding: 4px 8px;
  border-radius: 8px;
  &:hover {
    background-color: #f0f0f0;
  }
}

/* 添加图标 */
.add-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;
  flex: 1;
}
